* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
  background-color: black;
  
}
a { text-decoration: none;}


header {
  padding: 20px 0 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  justify-content: center;
}
.logo{
  height: auto;
  background-color: black;
}

header nav ul {
  list-style-type: none;
  display: flex;
  flex: row;
  gap: 30px;
  font-weight: bold;
  text-transform: uppercase;

  &>li>a {
    color: white;
  }
}