@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

:root {
  --document-width: 1300px;
  --transition-delay: .3s;
}

html {
  display: flex;
  justify-content: center;
  width: 100dvw;
}

* {
  min-width: 0;
}

body {
  font-family: system-ui, 'Montserrat';
  background: radial-gradient(circle, rgba(64,63,57,1) 0%, rgba(0,0,0,1) 100%);
  box-sizing: border-box;
  max-width: var(--document-width);
  padding-inline: 50px;
  color: white;
}
h1 { font-size: 4.5em; }
h2 { font-size: 3.5em; }
h3 { font-size: 2.5em; margin: 0; }
p { font-size: 1em; }
small { font-size: 0.7em; }
a { text-decoration: none; }

img {
  max-width: 100%;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;

  img {
    width: 15%;
    flex-shrink: 0;
  }
  h1 {
    text-align: center;
    flex-grow: 1;
    flex-shrink: 0;
    font-weight: 600;
  }
}
header ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 100px;
}
header ol > li {
  border-color: white;
  animation-name: fadein;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;

  &:nth-child(2) {
    animation-delay: 1s;
  }
  &:last-child {
    animation-delay: 2s;
  }
}

header #intro-img {
  width: 540;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &:last-child{
    animation:
      fadein 1s ease-in-out both;
      /* moveup 2s ease-in-out both; */
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveup {
  from {
    transform: translate(0, 75px);
  }
  to {
    transform: translate(0,0);
  }
}

main {
  width: 100%;
  display: block;
}

main section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-block: 100px;
  
  > * {
    margin-inline: 30px;
  }
  .content-visuals {
    min-width: 50%;
    position: relative;
  }
  .content-visuals:has(> .opiniones):hover {
    .opiniones {
      opacity: 1;
    }
    img {
      filter: grayscale(.5) opacity(.3);
    }
  }
  .content-visuals img {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    filter: none;
    transition: filter var(--transition-delay) ease-in-out;
  }
  .content-visuals .opiniones {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 10;
    transition: opacity var(--transition-delay) ease-in-out;
    p {
      margin-block: 40px;
    }
  }

  .content-info {
    max-width: 50%;
    min-width: 30%;
  }
  .content-info h3 {
    padding-bottom: 25px;
  }

}

.wrapper {
  width: 100%;
  padding-block: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 50px;
}


span {
  /* font-weight: 700; */
  background: radial-gradient(circle, rgba(255,215,0,1) 0%, rgba(255,195,11,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 5px 0;
  img {
    /* height: 400px; */
    object-fit:fill;
    /* border: 1px solid gold; */
    border-radius: 10px;
  }
  h3 {
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
    text-wrap: pretty;
  }
  p {
    /* margin: 0px; */
    /* height: 20px; */
    /* margin: 5px 0; */
    text-wrap: pretty;
  }
  .slider {
    height: 0px;
  }
}

.wrapper .info {
  width: 0px;
  flex-grow: 1;
  transition: all .3s ease-in-out;

  * {
    transition: all .3s ease-in-out;
  }

  img {
    filter: grayscale(50%);
  }

  strong {
    font-weight: normal;
  }

  p {
    /* margin: 0px;
    height: 0px; */
  }

  &:hover {
    width: 20%;
    img {
      filter: grayscale(0%);
    }
    p {
      /* margin: 1em; */
      height: auto;
    }
    strong {
      font-weight: 700;
    }
  }


}


@media screen and (max-width: var(--document-width)){
}


