@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

* {
  min-width: 0;
}

body {
  font-family: 'Montserrat';
  background-color: black;
  margin: 0;
  color: white;
}
h1 { font-size: 5em; }
h2 { font-size: 3.5em; }
h3 { font-size: 2em; margin: 0; font-weight: 400;}
p { font-size: 1.2em; }
a { text-decoration: none; }



#intro {
  width: 100%;
  display: block;
  max-height: 100dvh;
}

#intro header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}
#intro header h1 {
  font-weight: 600;
}
#intro header ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 100px;
}
#intro header ol > li {
  border-color: white;
  animation-name: fadein;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;

  &:nth-child(2) {
    animation-delay: 1s;
  }
  &:last-child {
    animation-delay: 2s;
  }
}

#intro img {
  display: flex;
  justify-content: center;
  max-width: 100%;
  &:last-child{
    /* animation:
      fadein 2s ease-in-out both,
      moveup 2s ease-in-out both; */
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveup {
  from {
    transform: translate(0, 75px);
  }
  to {
    transform: translate(0,0);
  }
}

#main-content {
  /* position: absolute; */
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: row-reverse;
  /* align-items: center; */
  /* flex: 1 1 auto; */
}

#main-content .wrapper {
  width: 50%;
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
}

.wrapper .select-info {
  box-sizing: border-box;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: #e4cb86;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  backdrop-filter: blur(10px);
  transition: filter .2s ease-in-out;
  filter: grayscale(60%);
  background-size: auto 100%;
  transition:
    filter .3s ease-in-out,
    background-size .3s ease-in-out;

  img {
    transition: scale .1s ease-in-out;
  }

  &:hover {
    filter: grayscale(0%);
    background-size: auto 110%;
  }
  &:focus, &:active {
    filter: grayscale(0%);
  }
}

.wrapper .select-info h3 {
  position: absolute;
  bottom: 0;
  margin: 20px;
  z-index: 10;
}
.wrapper #button-qui-soc {
  grid-column: span 2;
  img {
    height: 100%;
  }
}
.wrapper #button-magia-prop {
  grid-column: span 4;
  img {
    width: 110%;
  }
}
.wrapper #button-magia-tothom {
  grid-column: span 4;
  img {
    width: 110%;
  }
}
.wrapper #button-password {
  grid-column: span 2;
  img {
    width: 180%;
  }
}
.wrapper #button-disseny-personalitzat {
  grid-column: span 3;
  img {
    width: 110%;
  }
}
.wrapper #button-altres {
  grid-column: span 3;
  background-color: #e4cb86;
}

#main-content .info-container {
  margin: 50px;
  width: 50%;
}

#main-content .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  img {
    height: 300px;
    width: auto;
  }
  .text {
    /* height: calc(100% - 300px - 300px); */
    text-align: center;
    margin: 20px;
  }
  p {
    /* margin: 10px 100px 10px 100px; */
    text-align: center;
    font-size: 1.2em;
  }
  .slider {
    box-sizing: border-box;
    /* background-color: red; */
    width: 100%;
    height: 300px;
    /* padding: 30px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      width: 100px;
      height: 100%;
    }
    img {
      height: 100%;
      width: auto;
    }
  }
}

#main-content .info {
  display: none;
}

#main-content #qui-soc {
  display: flex;

}

@media (max-width: 1300px) {
  h1 {
    font-size: 3.5em;
    margin: 0;
  }
  h3 {
    font-size: 1.5em;
    margin: 0;
  }
  p {
    font-size: 1em;
  }
}


@media (max-width: 900px) {
  #intro header {
    /* position: relative; */
  }
  h1 {
    font-size: 1.5em;
    margin: 0;
  }
  h3 {
    font-size: 1em;
    margin: 0;
  }
  p {
    font-size: 0.75em;
  }
  #intro header ol {
    display: block;
  }

  #main-content {
    display: block;
  }

  #main-content .info-container {
    margin: 10px; 
    width: auto;
  }
  #main-content .wrapper {
    margin: 10px; 
    width: auto;
    .select-info {
      height: 200px;
    }
  }
}